@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;800&display=swap');

:root {
    --text-dark-color: #222221;
	--text-light-color: white;
    --brand-primary-color: #5A2DBB;
    --brand-secondary-color: #F45B69;
    --link-color: rgb(69, 21, 97);
    --background-color: #9A94BC;
	--fonts:  'Work Sans', sans-serif;
}

/*font styles*/
header {
	font-family: var(--fonts);
}
h1 {
	color: var(--brand-primary-color);
	font-family: var(--fonts);
	text-transform: uppercase;
    font-weight: 900;
    font-size: 4rem;
    letter-spacing: 0.25rem;
    margin-bottom: 1rem;
    /* line-height: 0.3; */
}
  
h2 {
	font-family: var(--fonts);
	color: var(--brand-primary-color);
	text-transform: uppercase;
	padding-top: 1rem;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.75;
    margin-bottom: 1rem;
}
  
h3 {
	color: var(--text-light-color);
	text-transform: uppercase;
    font-weight: 550;
    font-size: 1.5rem;
    line-height: 1.33;
    margin-bottom: 2rem;
}
  
h4 {
    font-weight: 550;
    font-size: 1.25rem;
    line-height: 1.2;
    margin-bottom: 2rem;
}
  
h5 {
    font-weight: 550;
    font-size: 1rem;
    margin-bottom: 1.5rem;
}
  
h6 {
    font-size: 0.75rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
  
p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
	font-family: var(--fonts);
}
  
a {
    text-decoration: none;
    display: inline-block;
	color: var(--text-dark-color);
}

body {
	background-color: var(--background-color);
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.viewport-header {
	position: relative;
	padding-top: 0%;
	height: 100vh;
	text-align: center;
	display: block;
	align-items: center;
	justify-content: center;
	color: var(--text-light-color);
	background-color: var(--brand-primary-color);
}

/*fades for title*/
.fade-out-title {
	animation: fadeOutTitle ease 5s;
	animation-fill-mode: forwards;
}

@keyframes fadeOutTitle {
	0% {
	  opacity: 1;
	}
	100% {
	  opacity: 0.2;
	}
}

.fade-in-title {
	padding-top: 40vh;
	animation: fadeInTitle ease 10s;
	animation-fill-mode: forwards;
}

@keyframes fadeInTitle {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
}

/*logo animation*/
.word {
	font-family: var(--fonts);
	perspective: 1000px;
}

.word span {
	cursor: pointer;
	display: inline-block;
	font-size: 100px;
	user-select: none;
	line-height: .8;
}


.word span:nth-child(5n+0).active {
	animation: balance 1.5s ease-out;
	transform-origin: bottom left;
}

@keyframes balance {
	0%, 100% {
		transform: rotate(0deg);
	}
	
	30%, 60% {
		transform: rotate(-45deg);
	}
}

.word span:nth-child(2n+0).active {
	animation: shrinkjump 1s ease-in-out;
	transform-origin: bottom center;
}

.word span:nth-child(9).active {
	animation: shrinkjump 1s ease-in-out;
	transform-origin: bottom center;
}

@keyframes shrinkjump {
	10%, 35% {
		transform: scale(2, .2) translate(0, 0);
	}
	
	45%, 50% {
		transform: scale(1) translate(0, -150px);
	}
	
	80% {
		transform: scale(1) translate(0, 0);
	}
}

.word span:nth-child(1).active {
	animation: falling 2s ease-out;
	transform-origin: bottom center;
}

.word span:nth-child(3).active {
	animation: falling 2s ease-out;
	transform-origin: bottom center;
}

.word span:nth-child(8).active {
	animation: falling 2s ease-out;
	transform-origin: bottom center;
}

@keyframes falling {
	12% {
		transform: rotateX(240deg);
	}
	
	24% {
		transform: rotateX(150deg);
	}
	
	36% {
		transform: rotateX(200deg);
	}
	
	48% {
		transform: rotateX(175deg);
	}
	
	60%, 85% {
		transform: rotateX(180deg);
	}
	
	100% {
		transform: rotateX(0deg);
	}
}

.word span:nth-child(7).active {
	animation: rotate 1s ease-out;
}

@keyframes rotate {
	20%, 80% {
		transform: rotateY(180deg);
	}
	
	100% {
		transform: rotateY(360deg);
	}
}

/*.word span:nth-child(1).active {
	animation: toplong 1.5s linear;
}*/

@keyframes toplong {
	10%, 40% {
		transform: translateY(-48vh) scaleY(1);
	}
	
	90% {
		transform: translateY(-48vh) scaleY(4);
	}
}

.sec span:nth-child(1).active {
	animation: jump-shaking 0.75s ease-out;
}

@keyframes jump-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateY(-4px) }
  35% { transform: translateY(-4px) rotate(5deg) }
  55% { transform: translateY(-4px) rotate(-5deg) }
  65% { transform: translateY(-4px) rotate(5deg) }
  75% { transform: translateY(-4px) rotate(-5deg) }
  100% { transform: translateY(0) rotate(0) }
}

/*navbar Style */
#navbar ul {
	overflow: hidden;
	background-color: var(--brand-primary-color);
	z-index: 1;
	font-family: var(--fonts);
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: center;
}
 
li {
	float: left;
}
  
li a {
	display: block;
	color: var(--text-light-color);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
  
li a:hover:not(.active) {
	background-color: var(--brand-secondary-color);
}
  
li a.active {
	color: var(--text-light-color);
	background-color: var(--background-color);
}

/*navbar: Page content*/
.content {
	padding: 16px;
}
  
  /*navbar: The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}
  
/*navbar: Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
	padding-top: 60px;
}

/*Button Styles*/
.button {
	margin: auto;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 0.75rem;
	padding: 0 0.5rem;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.125rem;
	width: 8rem;
	height: 2rem;
	transition: background-color 0.3s ease-in-out;
	margin-bottom: 1em;
	border-radius: 15px;
}

.button:hover {
	background-color: var(--brand-secondary-color);
	cursor: pointer;
}


.primary {
	background-color: var(--background-color);
}

.secondary {
	border: 2px solid var(--brand-primary-color);
	background-color: var(--brand-primary-color);

}

.button a {
	color: var(--text-light-color);
}

/*scrolling containers */
.container {
	margin: 0 auto;
}

.scroll-container {
	height: 100vh;
	min-height: 450px;
	padding: 2rem 1rem;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	justify-content: center;
}

.scroll-container:nth-of-type(4n+0) {
	background-color: #bdd0c4;
}
.scroll-container:nth-of-type(4n+1) {
	background-color: #f5d2d3;
}
.scroll-container:nth-of-type(4n+2) {
	background-color: #9ab7d3;
}
.scroll-container:nth-of-type(4n+3) {
	background-color: #dfccf1;
}

.scroll-container:nth-of-type(even) {
	flex-direction: row-reverse;
}

.scroll-element,
.scroll-caption {
	width: 50%;
}

.scroll-element {
	min-height: 300px;
	height: 100%;
	background-color: #eaeaea;
}

.scroll-caption {
	margin: 1rem;
}
@media screen and (max-width: 650px) {
	.scroll-container,
	.scroll-container:nth-of-type(even) {
		flex-direction: column;
		align-content: inherit;
	}

	.scroll-element {
		height: 100%;
	}

	.scroll-element,
	.scroll-caption {
		width: 100%;
	}
}

/**Styling scrollable elements*/
.js-scroll {
	opacity: 0;
	transition: opacity 500ms;
}

.js-scroll.scrolled {
	opacity: 1;
}

.scrolled.fade-in {
	animation: fade-in 1s ease-in-out both;
}

.scrolled.fade-in-bottom {
	animation: fade-in-bottom 1s ease-in-out both;
}

.scrolled.slide-left {
	animation: slide-in-left 1s ease-in-out both;
}

.scrolled.slide-right {
	animation: slide-in-right 1s ease-in-out both;
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
	0% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
}

/*about me box*/ 
.box-container {
	height: 100vh;
	min-height: 600px;
	padding: 2rem 1rem;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	justify-content: center;
}

.box {
	background-color: white;
	height: 550px;
	padding-left: 50px;
	max-width: 1200px;
	box-shadow: 5px 10px;
	overflow: hidden;
	text-overflow: ellipsis; 
	margin-bottom: 100px;
}
.box-img {
	float: right;
	width: 550px;
	height: 550px;
	background: blue;
	clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
	shape-outside: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
	margin-left: 50px;
}
  
.box-img img {
	max-height: 550px;
	max-width: 550px;
}
.box-gallery {
	background-color: white;
	width: 70%;
	height: 70%;
	padding-left: 5%;
	padding-right: 50px;
	box-shadow: 5px 10px;
	overflow: hidden;
	text-overflow: ellipsis; 
	margin-bottom: 100px;
}

.imageGallery1 {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	justify-content: center;
	flex-wrap: wrap;
}

.imageGallery1 img{
	padding-left: 10px;
}
