@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;800&display=swap');

:root {
    --text-dark-color: #222221;
    --brand-primary-color: #5A2DBB;
    --brand-secondary-color: #F45B69;
    --link-color: rgb(69, 21, 97);
    --background-color: #9A94BC;
	--fonts:  'Work Sans', sans-serif;
}

/* font styles */
header {
	font-family: var(--fonts);
}
h1 {
	color: var(--brand-primary-color);
	font-family: var(--fonts);
	text-transform: uppercase;
    font-weight: 900;
    font-size: 4rem;
    letter-spacing: 0.25rem;
    margin-bottom: 1rem;
    /* line-height: 0.3; */
}
  
h2 {
	padding-top: 1rem;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.75;
    margin-bottom: 2rem;
}
  
h3 {
	color: var(--brand-primary-color);
	text-transform: uppercase;
    font-weight: 550;
    font-size: 1.5rem;
    line-height: 1.33;
    margin-bottom: 2rem;
}
  
h4 {
    font-weight: 550;
    font-size: 1.25rem;
    line-height: 1.2;
    margin-bottom: 2rem;
}
  
h5 {
    font-weight: 550;
    font-size: 1rem;
    margin-bottom: 1.5rem;
}
  
h6 {
    font-size: 0.75rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
  
p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
}
  
a {
    text-decoration: none;
    display: inline-block;
	color: var(--text-dark-color);
}

body {
	background-color: var(--background-color);
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.viewport-header {
	position: relative;
	padding-top: 0%;
	height: 100vh;
	text-align: center;
	display: block;
	align-items: center;
	justify-content: center;
	color: white;
}

/*fades for main welcome*/
.fade-out-title {
	animation: fadeOutTitle ease 5s;
	animation-fill-mode: forwards;
}

@keyframes fadeOutTitle {
	0% {
	  opacity: 1;
	}
	100% {
	  opacity: 0.2;
	}
}

.fade-in-title {
	padding-top: 40vh;
	animation: fadeInTitle ease 10s;
	animation-fill-mode: forwards;
}

@keyframes fadeInTitle {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
}

/* logo animation */
.word {
	font-family: var(--fonts);
	perspective: 1000px;

}

.word span {
	cursor: pointer;
	display: inline-block;
	font-size: 100px;
	user-select: none;
	line-height: .8;
}


.word span:nth-child(5n+0).active {
	animation: balance 1.5s ease-out;
	transform-origin: bottom left;
}

@keyframes balance {
	0%, 100% {
		transform: rotate(0deg);
	}
	
	30%, 60% {
		transform: rotate(-45deg);
	}
}

.word span:nth-child(2n+0).active {
	animation: shrinkjump 1s ease-in-out;
	transform-origin: bottom center;
}

.word span:nth-child(9).active {
	animation: shrinkjump 1s ease-in-out;
	transform-origin: bottom center;
}

@keyframes shrinkjump {
	10%, 35% {
		transform: scale(2, .2) translate(0, 0);
	}
	
	45%, 50% {
		transform: scale(1) translate(0, -150px);
	}
	
	80% {
		transform: scale(1) translate(0, 0);
	}
}

.word span:nth-child(3).active {
	animation: falling 2s ease-out;
	transform-origin: bottom center;
}

.word span:nth-child(8).active {
	animation: falling 2s ease-out;
	transform-origin: bottom center;
}

@keyframes falling {
	12% {
		transform: rotateX(240deg);
	}
	
	24% {
		transform: rotateX(150deg);
	}
	
	36% {
		transform: rotateX(200deg);
	}
	
	48% {
		transform: rotateX(175deg);
	}
	
	60%, 85% {
		transform: rotateX(180deg);
	}
	
	100% {
		transform: rotateX(0deg);
	}
}

.word span:nth-child(7).active {
	animation: rotate 1s ease-out;
}

@keyframes rotate {
	20%, 80% {
		transform: rotateY(180deg);
	}
	
	100% {
		transform: rotateY(360deg);
	}
}

.word span:nth-child(1).active {
	animation: toplong 1.5s linear;
}

@keyframes toplong {
	10%, 40% {
		transform: translateY(-48vh) scaleY(1);
	}
	
	90% {
		transform: translateY(-48vh) scaleY(4);
	}
}

.sec span:nth-child(1).active {
	animation: jump-shaking 0.75s ease-out;
}

@keyframes jump-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateY(-4px) }
  35% { transform: translateY(-4px) rotate(5deg) }
  55% { transform: translateY(-4px) rotate(-5deg) }
  65% { transform: translateY(-4px) rotate(5deg) }
  75% { transform: translateY(-4px) rotate(-5deg) }
  100% { transform: translateY(0) rotate(0) }
}

/* Style the navbar */
#navbar ul {
	overflow: hidden;
	background-color: var(--brand-primary-color);
	z-index: 1;
	font-family: var(--fonts);
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: center;
}
 
li {
	float: left;

}
  
li a {
	display: block;
	color: #666;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
  
li a:hover:not(.active) {
	background-color: #ddd;
}
  
li a.active {
	color: white;
	background-color: #4caf50;
}

/* Page content */
.content {
	padding: 16px;
}
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}
  
/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
	padding-top: 60px;
}